<%- include("./partials/header") %>

<h1>REGISTER</h1>
<div class="ui main text container segment">
  <form class="ui form" action="/register" method="POST">
    <div class="field">
      <input type="text" name="username" placeholder="username" />
    </div>
    <div class="field">
      <input type="text" name="password" placeholder="password" />
    </div>
    <button>Signup</button>
  </form>
</div>

<%- include("./partials/footer") %>
